@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<User> SignInManager
<h3>
    Home Page
</h3>

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="Users" asp-action="Index">Users</a>
}
else
{
    <b>
        You are not logged in
    </b>
}